<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>LDBusDemo</string>
	<key>is_main_bundle</key>
	<true/>
	<key>url_handler_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>mainTab1</string>
			<key>class</key>
			<string>MyTabController</string>
			<key>type</key>
			<string>share</string>
		</dict>
		<dict>
			<key>name</key>
			<string>menu/(initWithMenu:)</string>
			<key>class</key>
			<string>MenuController</string>
			<key>type</key>
			<string>share</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food</string>
			<key>class</key>
			<string>ContentController</string>
			<key>type</key>
			<string>push</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>name</key>
					<string>foo/(initWithFood:)</string>
				</dict>
				<dict>
					<key>name</key>
					<string>type/(initWithType:)</string>
				</dict>
				<dict>
					<key>name</key>
					<string>popover/(initWithFood:)</string>
					<key>type</key>
					<string>pop</string>
				</dict>
				<dict>
					<key>name</key>
					<string>modeview/(initWithModeController:)</string>
					<key>type</key>
					<string>modal</string>
				</dict>
				<dict>
					<key>name</key>
					<string>about/(initWithUs:)/(others:)</string>
					<key>parent</key>
					<string>menu/5</string>
					<key>type</key>
					<string>push</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>service_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>loginService</string>
			<key>New item</key>
			<string></string>
			<key>protocol</key>
			<string>LDLoginService</string>
			<key>class</key>
			<string>LDLoginServiceImpl</string>
		</dict>
	</array>
	<key>post_message_list</key>
	<array>
		<dict>
			<key>code</key>
			<string>locationmodify</string>
			<key>name</key>
			<string>LocationModified</string>
		</dict>
	</array>
	<key>receive_message_list</key>
	<array>
		<dict>
			<key>code</key>
			<string>locationmodify</string>
			<key>class</key>
			<string>MenuController</string>
		</dict>
	</array>
</dict>
</plist>
